        body {
            background-image: url('assets/img/background/background.png');
            background-size: 50%; /* Reduz o tamanho da imagem para 50% do original */
            background-position: center;
            background-attachment: fixed;
            background-color: aqua; /* Cor de fundo alternativa, caso a imagem não seja carregada */
            font-family: Arial;
            text-align: center;
            margin: 0;
            min-height: 100vh;
            background-repeat: no-repeat; /* Evita a repetição da imagem de fundo */
        }        

        h1, h3, form, table {
            text-align: center;
        }        
        .form-container {
            background-color: #f8f8f8;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);            
        }        
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
        .button:hover {
            background-color: #3e8e41;
        }
        .container {
            margin: auto;
            width: 80%;            
        }        
        input[type="text"]::placeholder,
        input[type="number"]::placeholder {
            color: #ffffff; /* Cor do texto do placeholder */
            background-color: #9e4747; /* Cor de fundo do placeholder */
            font-size: 18px; /* Tamanho da fonte */
            width: 200px; /* Largura desejada */
            height: 20px; /* Altura desejada */
            text-align: center;        
        }
        .custom-input {
            width: 200px; /* Largura desejada */
            height: 20px; /* Altura desejada */
            font-size: 18px; /* Tamanho da fonte desejado */
            padding: 10px; /* Espaçamento interno desejado */
            border: 2px solid #ccc; /* Estilo da borda */
            border-radius: 5px; /* Arredondamento da borda */
            background-color: transparent; /* Remove a cor de fundo */
        }        
        /* Data e Horário de Brasília */
        .calendar {
            text-align: center;
            color: #ff0000;
        }        
        .date,
        .time {
            font-size: 2rem;
            margin: 10px;
            font-weight: bold;
        }
         

        

     
        