        body {
            background-image: url('assets/img/background/background.png');
            background-size: 50%; /* Reduz o tamanho da imagem para 50% do original */
            background-position: center;
            background-attachment: fixed;
            background-color: aqua; /* Cor de fundo alternativa, caso a imagem não seja carregada */
            font-family: Arial;
            text-align: center;
            margin: 0;
            min-height: 100vh;
            background-repeat: no-repeat; /* Evita a repetição da imagem de fundo */
        }        

        h1, h3, form, table {
            text-align: center;
        }        
        .form-container {
            background-color: #f8f8f8;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);            
        }        
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
        .button:hover {
            background-color: #3e8e41;
        }
        .container {
            margin: auto;
            width: 80%;            
        }        
        input[type="text"]::placeholder,
        input[type="number"]::placeholder {
            color: #ffffff; /* Cor do texto do placeholder */
            background-color: #9e4747; /* Cor de fundo do placeholder */
            font-size: 18px; /* Tamanho da fonte */
            width: 200px; /* Largura desejada */
            height: 20px; /* Altura desejada */
            text-align: center;        
        }
        .custom-input {
            width: 200px; /* Largura desejada */
            height: 20px; /* Altura desejada */
            font-size: 18px; /* Tamanho da fonte desejado */
            padding: 10px; /* Espaçamento interno desejado */
            border: 2px solid #ccc; /* Estilo da borda */
            border-radius: 5px; /* Arredondamento da borda */
            background-color: transparent; /* Remove a cor de fundo */
        }        
        /* Data e Horário de Brasília */
        .calendar {
            text-align: center;
            color: #ff0000;
        }        
        .date,
        .time {
            font-size: 2rem;
            margin: 10px;
            font-weight: bold;
        }

        /* Despertador com Alarme */
        .container {
            max-width: 800px;
            margin: 0 auto;
            text-align: center;
        }
        
        h1 {
            font-size: 2.5em;
            margin-bottom: 30px;
        }
        
        label {
            font-size: 1.2em;
        }
        
        input[type="date"],
        input[type="time"] {
            font-size: 1.2em;
            padding: 5px 10px;
            margin-bottom: 20px;
        }
        
        button {
            font-size: 1em;
            padding: 5px 20px;
            margin-right: 5px;
            margin-bottom: 10px;
        }
        
        .calendar {
            margin-top: 50px;
        }
        
        .date,
        .time {
            font-size: 1.5em;
        }

        /* Style social media */
        .botao-rs{
        padding:1em;
        border-radius:100vw;
        display:inline-flex;
        margin:0.5em;  

        }
        .botao-rs a { 
        text-decoration:none; 
        color:#fff; 
        display: inherit;          
        }

        .linkedin{
        background:#0e76a8;
        }

        .github{
        background:#16181b;
        }

        .facebook{
        background:#3b5998;
        }

        .instagram{  
        background:hsl(0 0% 10%);
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
        }

        .whatsapp{
        background:#15cc31;
        }

        .botao-rs span{
        width:0px;
        overflow:hidden;
        transition:350ms ease;
        }

        .botao-rs:hover span{
        width:100px;
        margin-left:0;
        }

        .social{
        display: flex;  
        justify-content: center;  
        transition: opacity 0.25s ease;
        margin-top: -5em;
        font-size: 10px    
        }
      
         

        

     
        